a:link, a:visited {
    background-color: orangered;
    color: white;
    padding: 14px 25px;
    margin-top: 10px;
    text-align: center;
    display: inline-block;
}
a:hover,a:active {
    background-color:blue;
}