.o {
    text-align: center;

    background-color: blue;
   table width: 200px;
   table height: 200px;
   margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;

      
    
}